@page
@using XTL.Helper
@model App.Pages_Blog.IndexModel

@{
    ViewData["Title"] = "Các Bài Viết";
    int i = 0;
}



<h1>Danh Sách Bài Viết</h1>
<form method="get" asp-page="./Index">
    <label>Tìm Kiếm</label>
    <input name=SearchString value="">
    <button type="submit">Tìm Kiếm</button>
</form>
<p>
    <a asp-page="Create" class="btn btn-primary">Tạo Bài Viết Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @(++i)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Xem</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var pagingmodel = new PagingModel()
    {
        currentpage = Model.currentPage,
        countpage = Model.countPage,
        generateUrl = (int? p) => @Url.Page("/Blog/Index", new { p = p })
    };
}
<partial name="_PagingXTL" model="@pagingmodel"></partial>